 /* --- BOX USER --- */
.boxUser{

  /*
  background-color: red;
 
 
  border-radius: 5px 20px 5px; 
  background-color: #34495E ;
  border-style: solid;
*/
width:43%;
height:85%;
position:absolute;
top:5%;
left:5%;
display:flex;
flex-direction:column;
}

.Game{
  position:absolute;
  top:3%;
  left:5%;
  width:90vw;
  height:100vh;
 
}


.userBox{
  width:33%;
  height:33%;  
  margin:1%;
  /* border-radius: 5px 20px 5px; 
  background-color: #34495E ;
  border-style: solid; */
  margin-top:1%;

}

.imgRecruited{
 width:82px;
 height:95px;
 padding:5px;
 margin:10px;
 border-radius:53%; 
 float:left;
}


.cabroni{
  width:20%;
  height:20%;
  top:16px;
  margin-left:1%;
  margin-top:5%;
  padding-bottom:5%;
}

.machineBox{
  margin-top:8%;
  width:47%;
  height:80vh; 
  float:right;
  border-radius: 5px 20px 5px; 
  background-color: #D35400 ;
  border-style: solid;
}


.spaceBar{
  width:50%;
}

/* :not(.chartjs-render-monitor) */

/*
 .chartjs-render-monitor { 
padding:20%;
margin-bottom:50%;

}  
*/




