.Game{
  position:absolute;
  top:3%;
  left:5%;
  width:90vw;
  height:100vh;
}

.userBox{
  margin-top:8%;
  width:47%;
  height:80vh;
  float:left;
  border-radius: 5px 20px 5px; 
  background-color: #34495E ;
  border-style: solid;
  display: flex !important;
  
  
}

.imagesRecrutied{
  flex-wrap: wrap !important;
  padding:10px;
  width:500px;
  height:200px !important;
}

.machineBox{
  margin-top:8%;
  width:47%;
  height:80vh; 
  float:right;
  border-radius: 5px 20px 5px; 
  background-color: #D35400 ;
  border-style: solid;
}

