.App{
  display:flex;
  flex-wrap:wrap;
  margin-top:3%;
  position:absolute;
  top:0;
  left:5%;
  width:90vw;
}

 /* --- P O P  C A R D--- */

.heroCard{ 
  border-radius: 5px 20px 5px;
  left:10%;
  top:30%; 
  position: absolute;
  width:800px;
  height:460px;
  background-color: #34495E ;
  border-style: solid;
}

.heroCardWiggle{ 
  border-radius: 5px 20px 5px;
  left:10%;
  top:30%; 
  position: absolute;
  width:800px;
  height:460px;
  background-color: #34495E;
  border-style: solid;
}

.heroCardWiggle:hover{
  animation: shake 0.5s;
  animation-iteration-count: 3s;
}  

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
} 

.cancelBtn{
  border-radius: 5px 15px 5px;
  background-color:yellow;
  border: none;
  color: red;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 29px;;
  opacity: 0.8;
  border-style: solid;
   }

.imgCard{
  float:left;
  border-radius:50%;
  /* width:129px;
  height:180px; */
 
  margin-left:22px;
  margin-top:23px;
}

.heroName{
  margin-top:38px;
  margin-left:38px;
  padding-left:134px;
  font-size:16px;
}

.heroes-format{
  border-radius:80%;
}

.heroes-format:hover{
  transform: scale(1.4);
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(0,255,0, 0.6);
}

.list-container{
  justify-content:space-between;
}

.visuallyhidden{
  padding: 0;
  border: none;
  background: none;
  outline:none;
}

button:focus,
select:focus {
  outline: none;
}

 /* --- C H A R T--- */

.chart{
  width:400px !important;
  height:250px !important;
  margin-left: 276px !important; 
}

.chartjs-render-monitor{
  width:507px !important;
  height:312px !important;
}

 /* --- P R I C E--- */

.priceTag{
margin-left:33px;
width:244px;
height:5px;
 color:gold;
}

 /* --- B U T T O N--- */

 .recruitBtn{
border-radius: 5px 20px 5px;
background-color: green;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 16px;
font-style: bold;
padding: 10px;
width: 100px;
transition: all 0.5s;
cursor: pointer;
margin: 3px;
margin-left: 29px;;
opacity: 0.8;
border-style: solid;
font-family: 'Bubblegum Sans', cursive;

 }

 .recruitBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.recruitBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.recruitBtn:hover span {
  padding-right: 25px;
}

.recruitBtn:hover span:after {
  opacity: 1;
  right: 0;
}

.dismissBtn{  
border-radius: 5px 20px 5px;
background-color: red;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 16px;
padding: 10px;
width: 100px;
transition: all 0.5s;
cursor: pointer;
margin: 2px;
opacity: 0.8;
border-style: solid;
font-family: 'Bubblegum Sans', cursive;
}

 .dismissBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dismissBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.dismissBtn:hover span {
  padding-right: 25px;
}

.dismissBtn:hover span:after {
  opacity: 1;
  right: 0;
}

 /* --- SEARCH BOX-- */

.searchBox{
  color:white;
  background-color: #212F3C;
  width:10% !important;
  height:142% !important;
  float:left;
  border-radius:3%;
  padding-left:12px;
  font-family: 'Bubblegum Sans', cursive;
}

/* .sc-AxjAm.eytsdW{
width:50%;
} */


.fightBtn{
background-color:red;
position: absolute;
top:7%;
left:45%;
}

.remove{
background-color:blue;
position: absolute;
left:4.4%;
top:6%;
border-radius: 5px 20px 5px;
background-color: #34495E;
border: none;
color: white;
text-align: center;
border-radius:8%;
padding: 3px;
height:3.2%;
width:2.4%;
border-radius:3%;
cursor: pointer;
opacity: 0.8;
font-size: 14px;
font-family: 'Bubblegum Sans', cursive;
}

.remove:hover{
  background-color: white;
  color:black;
}


.gamePosition{
  top:30%;
}

.machine{
left:1.2%;
top:14%;
left:48%;
background-color: #34495E;
position:absolute;
border-radius: 5px 20px 5px;
background-color: #34495E;
border: none;
color: #FFFFFF;
font-size: 14px;
padding: 10px;
width: 50%;
height:100%;

cursor: pointer;
margin: 5px;
opacity: 0.8;
border-style: solid;
}



.machune{
left:1.2%;
top:5%;
left:50%;
background-color: blue;
position:absolute;
border-radius: 5px 20px 5px;
background-color: blue;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 14px;
padding: 10px;
width: 50%;
height:100%;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
opacity: 0.8;
border-style: solid;

}

.curncyBtn{
border-radius: 5px 20px 5px;
background-color: #17202A ;
border: none;
color: white;
text-align: center;
position: absolute;
top:20px;
left:17%;
border-radius:5%;
height:30px;
padding: 7px;
height:5.9%;
width:6%;
border-radius:3%;
transition: all 0.5s;
opacity: 0.8;
}

.heroeBtn{
border-radius: 5px 20px 5px;
background-color: #17202A ;
border: none;
color: white;
text-align: center;
position: absolute;
top:20px;
left:78.5%;
float:right;
border-radius:5%;
padding: 7px;
height:5.9%;
width:12%;
border-radius:3%;
transition: all 0.5s;
opacity: 0.8;
}

.recruitedBtn{
border-radius: 5px 20px 5px;
background-color: #17202A;
border: none;
color: white;
text-align: center;
position: absolute;
top:20px;
left:25%;
float:right;
border-radius:5%;
padding: 5px;
height:5.9%;
width:6%;
border-radius:3%;
transition: all 0.5s;
opacity: 0.8;
}

.randomContainer{
  
  display:flex;
  flex-wrap:wrap;
  
 
}